<!DOCTYPE html>
<html ng-app="weatherApp" lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Previsão do Tempo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/clima.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="WeatherController">

  <section class="card" ng-if="weather">
    <img class="icon" ng-src="{{weather.icon}}" alt="icone do tempo">
    <h1>{{weather.city}}</h1>
    <h2>{{weather.temp}}°</h2>
    <p class="feels-like">Sensação de <span>{{weather.feelsLike}}</span>°</p>

    <div class="min-max">
      <p>Min: <span class="min">{{weather.tempMin}}</span>°</p>
      <p>Max: <span class="max">{{weather.tempMax}}</span>°</p>
    </div>

    <p class="humidity">Humidade: <span>{{weather.humidity}}</span>%</p>
    <div class="wind">
      <img ng-style="{'transform': 'rotate(' + weather.windDeg + 'deg)'}"
           src="https://static.thenounproject.com/png/1129571-200.png" alt="vento">
      <p>
        Velocidade do vento:
        <span>{{weather.windSpeed}}</span>m/s
      </p>
    </div>
  </section>

  <section class="input">
    <input type="text" ng-model="cityInput" placeholder="Digite sua cidade"
           ng-keypress="checkEnter($event)">
    <button type="button" ng-click="buscarClima()">Buscar</button>
  </section>

  <script src="./assets/main.js"></script>
</body>
</html>
