<!DOCTYPE html>
<html lang="pt-br" ng-app="userApp" ng-controller="userController">
<head>
  <meta charset="UTF-8" />
  <title>Gerenciamento de Usuários</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="./style.css" />
  <script src="./sistema.js"></script>
</head>
<body ng-init="init()">

  <h1>Gerenciamento de Usuários</h1>

  <div class="filter-group">
    <input type="text" ng-model="searchName" placeholder="Buscar por nome...">
    <select ng-model="filterType">
      <option value="">Todos</option>
      <option value="Aluno">Aluno</option>
      <option value="Professor">Professor</option>
      <option value="Professora">Professora</option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" ng-model="newUser.name" placeholder="Nome">
    <select ng-model="newUser.type">
      <option value="">Tipo</option>
      <option value="Aluno">Aluno</option>
      <option value="Professor">Professor</option>
      <option value="Professora">Professora</option>
    </select>
    <button ng-click="addUser()">Adicionar</button>
  </div>

  <div class="user-card" ng-repeat="user in users | filter:searchName | filter:{type: filterType}">
    <div class="user-info">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Avatar">
      <div class="user-details">
        <span class="user-name">{{ user.name.toUpperCase() }}</span>
        <span class="user-type">{{ user.type.toUpperCase() }}</span>
        <span class="user-date">{{ user.date }}</span>
      </div>
    </div>
    <button class="remove-btn" ng-click="removeUser($index)">Remover</button>
  </div>

  <script>
    angular.module('userApp', [])
      .controller('userController', function($scope) {
        $scope.users = [
          { name: 'Estevan Martini', type: 'Aluno', date: '13/03/2025' },
          { name: 'Felipe Lima', type: 'Professor', date: '13/03/2025' },
          { name: 'Matheus Leal', type: 'Aluno', date: '18/03/2025' },
          { name: 'Cintia Oliveira', type: 'Professora', date: '05/01/2025' },
          { name: 'Enzo Pelizaro', type: 'Aluno', date: '28/05/2025' }
        ];

        $scope.newUser = {};

        $scope.addUser = function () {
          if ($scope.newUser.name && $scope.newUser.type) {
            $scope.users.push({
              name: $scope.newUser.name,
              type: $scope.newUser.type,
              date: new Date().toLocaleDateString('pt-BR')
            });
            $scope.newUser = {};
          }
        };

        $scope.removeUser = function(index) {
          $scope.users.splice(index, 1);
        };
      });
  </script>

</body>
</html>
