<!DOCTYPE html>
<html lang="pt-BR" ng-app="cadastroEscolar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento Escolar</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./sistema.js"></script>
</head>
<body>
    <div class="container" ng-controller="AppController as appCtrl">
        <h1>Gerenciamento de Usuários</h1>

        <div class="filtros-container">
            <input type="text" ng-model="appCtrl.filtroGeral"
                   placeholder="Buscar por nome..." class="filtro-input">
            
            <select ng-model="appCtrl.filtroTipo" class="filtro-select">
                <option value="">Todos</option>
                <option value="Aluno">Alunos</option>
                <option value="Professor">Professores</option>
            </select>
        </div>

        <!-- formulario para adicionar usuario -->
         
        <form class="filtros-container" ng-submit="appCtrl.adicionarUsuario()">
            <input type="text" ng-model="appCtrl.novoUsuario.nome" placeholder="Nome" class="filtro-input" required>
            <select ng-model="appCtrl.novoUsuario.tipo" class="filtro-select" required>
                <option value="">Tipo</option>
                <option value="Aluno">Aluno</option>
                <option value="Professor">Professor</option>
            </select>
            <button type="submit" class="filtro-select" style="background-color:#ff79c6; color:#fff; border:none;">Adicionar</button>
        </form>


        <div class="user-list">
            <div class="user-card"
                 ng-repeat="usuario in appCtrl.usuarios | filter:appCtrl.filtroGeral | filter:{tipo: appCtrl.filtroTipo}">

                <img ng-src="{{usuario.tipo === 'Aluno' ? 
                    'https://cdn-icons-png.flaticon.com/512/3135/3135715.png' : 
                    'https://cdn-icons-png.flaticon.com/512/3135/3135768.png'}}"
                    alt="{{usuario.tipo}}" class="user-avatar">

                <div class="user-info">
                    <h3>{{usuario.nome | uppercase}}</h3>
                    <div class="user-details">
                        <span class="user-type {{usuario.tipo.toLowerCase()}}">
                            {{usuario.tipo}}
                        </span>
                        <span class="user-date">
                            {{usuario.dataCadastro | date:'dd/MM/yyyy'}}
                        </span>
                    </div>
                </div>

                <button class="remover-btn" ng-click="appCtrl.removerUsuario($index)">Remover</button>
            </div>
        </div>
    </div>
</body>
</html>
